/* Broad Spectrum */
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #444;
}
a {
  color: #9c8061;
}
a:hover {
  color: #9c8061;
}
a:active, a:visited {
  color: #9c8061;
}
h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .15rem;
  line-height: 2.5rem;
}
h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .15rem;
  line-height: 2.5rem;
}
p {
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: .02rem;
  padding-bottom: 10px
}
.caption h4 {
  font-size: 120%;
  margin-top: 20px;
}
.caption p {
  line-height: 2rem;
}
.bold {
  font-weight: 700;
}
.padding-40-60 {
  padding: 40px 60px;
}
.padding-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.padding-right-60 {
  padding-right: 60px;
}
.padding-right-120 {
  padding-right: 120px;
}
.bg-lt-grey {
    background-color: #f6f6f6;
}
.bg-md-grey {
    background-color: #e7e7e7;
}
.clearfix {
  clear: both;
}
.section-heading {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
}
.form-control {
  font-weight: 300;
  border-radius: 0;
}
.btn, .btn:visited {
  background-color: #9c8061;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .05rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.1);
}
.form-control:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    border-color: #adaaa8;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.1);
    color: #fff;
}
.btn:hover {
  background-color: #81674b;
  color: #fff;
}

/* Header & Navigation */
.navbar .utilities {
/*  background-color: #444;*/
  background: -webkit-linear-gradient(0deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(0deg, #232526 10%, #414345 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(0deg, #232526 10%, #414345 90%); /* IE10 */
  background:      -o-linear-gradient(0deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, #232526 10%, #414345 90%); /* W3C */
  color: #e7e7e7;
  font-weight: 300;
  font-size: 10px;
}
.navbar .utilities ul {
  margin-top: 4px;
  margin-bottom: 4px;
}
.navbar .utilities .utils {
  text-align: right;
}
.navbar .utilities ul>li>a {
  color: #e7e7e7;
  text-transform: uppercase;
}
.navbar .utilities ul>li>a:hover {
  color: #fff;
  text-decoration: none;
}
.navbar {
  border: 0;
}
.main-nav {
  /* border-bottom: 1px solid #ccc; */
  box-shadow: 0 0 6px rgba(0,0,0,.2);
}
.navbar-brand {
    height: 64px;
    padding: 10px;
}
.navbar-brand img {
  height: 42px; 
}
.navbar-default .navbar-nav>li>a {
  color: #585858;
  font-weight: 400;
  letter-spacing: .05rem; 
  text-transform: uppercase;
  text-align: center;
  height: 64px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #9c8061;
  border-bottom: 3px solid #9c8061;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* Home Page */
body#home {
  padding-top: 66px;
}
.carousel-caption h2 {
  font-size: 320%;
  font-weight: 800;
  letter-spacing: .05rem;
  text-transform: uppercase
}
.carousel-caption h4 {
  font-size: 180%;
  font-weight: 300;
  letter-spacing: .1rem;
}
.home-search {
  background: #e8e8e8 url("../img/concrete_seamless.png") repeat;
  color: #585858;
  border-top: 1px solid #ccc;
  border-bottom: 9px solid #f6f6f6;
  padding: 5px 0 20px 0;
}
.home-search .input-group {
  padding: 10px 20%;
}
.home-search h3 {
  font-weight: 600;
  letter-spacing: .05rem;
  margin-bottom: 0;
  text-transform: uppercase;
}
.home-about h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.home-about p {
  font-size: 16px;
  line-height: 180%;
}
.home-about .cta p {
  font-size: 14px;
  padding: 0 0 0 20px;
  border-left: 1px dotted #eee;
  margin-bottom: 20px;
  line-height: 130%;
  opacity: 0;
   -webkit-transform: translateX(3rem);
   -moz-transform: translateX(3rem);
   transform: translateX(3rem);
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.home-about .cta p.late {
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.home-about .cta span {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 600;
  font-size: 90%;
  letter-spacing: .1rem;
}
.home-about .cta a {
  font-style: italic;
}
.home-features {
  border-top: 9px solid #e7e7e7;
}
.product-thumbnails {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.product-thumbnails .caption h4 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.product-thumbnails .caption p {
  font-size: 12px;
  line-height: 1.6rem;
}
.product-thumbnails a.btn {
  position: absolute;
  top: 70px;
  right: -10px;
  font-size: 80%;
  padding: 8px;
  line-height: 60%;
  text-transform: none;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
#wordCarousel {
  background: #e8e8e8 url("../img/concrete_seamless.png") repeat;
  min-height: 325px;
  text-align: center;
/*  border-bottom: 22px solid #9c8061;*/
}
#wordCarousel .item p {
  width: 60%;
  font-size: 120%;
  font-style: italic;
  line-height: 180%;
  margin: 10px auto;
  color: #888888;
  letter-spacing: .1rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
}
#wordCarousel .item p.attrib {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  margin-top: 0;
  font-weight: 400;
  color: #a7a7a7;
}
#wordCarousel .item img {
  margin-bottom: 40px;
}
#wordCarousel .carousel-indicators li {
  border: 1px solid #a7a7a7;
}
#wordCarousel .carousel-indicators .active {
  background-color: #a7a7a7;
}

/* Footers */
footer {
  background: #272727;
  color: #ccc;
  letter-spacing: .1rem;
  line-height: 2rem;
  font-weight: 400;
  font-size: 11px;
}
footer .section-heading {
  border-bottom: 1px dotted #888b8e;
  color: #e7e7e7;
}
footer .link-list a {
  color: #ccc;
  letter-spacing: .05rem;
  padding: 6px 0px;
  display: inline-block;
  text-transform: uppercase;
}
footer .link-list a:hover {
  color: #eee;
  text-decoration: none;
}
footer .link-list li {
  border-bottom: solid 1px #353535;
}
footer .link-list li i {
    color: #bbb;
    float: right;
    margin-top: 10px;
}
footer .map-bg {
  background: url(../img/map-img.png) 5px 60px no-repeat;
}
footer address {
  line-height: 2.4rem;
  font-size: 12px;
}
footer .footer-logo {
  height: 36px;
  margin-top: 20px;
}

.copyright {
  background: #181818;
  border-top: 1px solid #181818;
  font-size: 11px;
  padding-top: 4px;
}
.copyright a {
  padding-left: 4px;
  padding-right: 4px;
  color: #81674b;
}
.copyright .glyphicon {
  text-align: right;
}
