/*------ Media Styles -------*/
@media screen and (max-width: 1200px) {
  .product-thumbnails a.btn {
    top:48px;
  }
}
@media screen and (max-width: 991px) {
  .product-thumbnails a.btn {
    top:80px;
  }
  body#home .col-md-3 img, body#home .col-md-2 img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4, .col-sm-3, .navbar .utilities .utils {
    text-align: center;
  }
  .col-sm-3 {
    margin: 15px;
  }
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  body#home {
    padding-top: 88px;
  }
  body#home .col-md-3 img, body#home .col-md-2 img {
    margin-left: auto;
    margin-right: auto;
  }
  .padding-right-60, .padding-right-120 {
    padding-right: 15px;
  }
  .carousel-caption h2 {
    font-size: 200%;
  }
  .carousel-caption h4 {
    font-size: 100%;
  }
  .home-search h3 {
    font-size:120%;
  }
  .home-about, .home-features {
    text-align: center;
  }
  .product-thumbnails a.btn {
    display: none;
  }
  #wordCarousel .item p {
  font-size: 100%;
  }
  #wordCarousel .item p.attrib {
  font-size: 90%;
}
@media screen and (max-width: 480px) {
  .carousel-caption h2 {
    font-size: 120%;
  }
  .carousel-caption h4 {
    font-size: 80%;
  }
  .home-search h3 {
    font-size:100%;
  }
}